body{
    padding: 0;
    margin: 0;
}
.contenedor{
    margin: auto;
    width: 80%;
    height: 200px;
    background: rgb(0, 0,0,0.3);
}
.contenido{
    width: 90%;
    margin: auto;
    text-align: justify;
}
